.mainBlock {
  width: 1540px;
  background-color: black;
  padding: 50px 20px;
}

.titleBlock {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.blockTitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.blockTitle button {
  width: 150px;
  height: 40px;
  border: none;
  background-color: #ff0000;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
}

.blockCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

  
.filterBlock {
  width: 256px;
  height: auto;
}
@media (max-width: 1540px) {
  .mainBlock {
    width: 100%;
  }
}
