.mainblock {
  width: 1540px;
  height: 90px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 0 20px;
}

.textLogo {
  font-size: 32px;
}

.searchInput {
  background-image: url("../../image/searchIcon.svg");
  border: none;
  background-position: 10px 13px;
  background-repeat: no-repeat;
  width: 416px;
  box-sizing: border-box;
  border-radius: 25px;
  font-size: 16px;
  background-color: white;
  padding: 10px 20px 10px 40px;
  background-position-x: 95%;
}

.blockNav {
  width: 300px;
}

.textMovie {
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 1540px) {
  .mainblock {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .blockNav {
    display: none;
  }
}

@media (max-width: 750px) {
  .mainblock {
    flex-direction: column;
    height: 120px;
    padding: 15px 20px;
    align-items: flex-start;
    gap: 5px;
  }

  .blockSearch {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .textLogo {
    font-size: 25px;
  }
}

@media (max-width: 550px) {
  .blockSearch form {
    width: 100%;
  }
  .searchInput {
    width: 100%;
  }
}
