* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

textarea:focus,
input:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.swiper {
  width: 1550px;
  height: 450px;
  top: 40px;
}

.meSwiperAboutUs .swiper-slide {
  text-align: center;
  height: auto;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.meSwiperAboutUs {
  width: 100%;
  top: 0px;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.meSwiperAboutUs .swiper-button-prev {
  background-image: url("../src//image/arrow-right.svg");
  transform: rotate(180deg);
  width: 36px;
  height: 36px;
  background-color: black;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.meSwiperAboutUs .swiper-button-next {
  background-image: url("../src//image/arrow-right.svg");
  width: 36px;
  height: 36px;
  background-color: black;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  font-weight: 700;
}

@media (max-width: 1050px) {
  .swiper {
    height: 350px;
  }
}

@media (max-width: 750px) {
  .swiper {
    height: 250px;
  }
}

@media (max-width: 750px) {
  .swiper {
    height: 200px;
  }
}
